.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Electron-builder output
/dist_electron

# Hedera scripts
.DS_Store
.env
auditOuput2*
test.txt
0.0.*
_*
walletOwnership.csv
tokenFlatFileDB*
